
<%- include('header'); -%>
<section class="timeline" style="height: auto; overflow: hidden;">
  <div class="wrapper">
    <div class="center-line"></div>
   <div class="row row-1">
     <section class="a-4">
       <div class="dot">
         <img src="images/cllg1.png" height="55px" width="55px" style="border-radius: 50%; border: 1px solid black;" alt="a">
       </div>
       <div class="details">
         
        <span class="title"><em>Coding Blocks</em></span><br>
         
         <span style="color: brown;"><i>July,2021 - August,2021</i></span>
         
       </div>
       <span><em>Summer training</em></span>
       <p><b>Course: </b>Full stack web development</p>
       <p><b>Project: </b>Developed a railway ticket reservation project using MERN stack</p>


     </section>
   </div>
   <div class="row row-2">
     <section class="a-5">
       <div class="dot">
         <img src="images/cllg1.png" height="55px" width="55px" style="border-radius: 50%; border: 1px solid black;" alt="a">
       </div>
       <div class="details">
         <span class="title"><em>Bharati Vidyapeeth's College of Engineering</em></span>
         <span style="color: brown;"><i>August,2019 - Present</i></span>
       </div>
       <p><b>Course: </b>Bacherlor's in technology</p>
       <p><b>Field: </b>Computer Science</p>
     </section>
   </div>
   <div class="row row-1">
     <section class="a-6">
       <div class="dot">
         <img src="images/school.png" height="55px" width="55px" style="border-radius: 50%; border: 1px solid black;" alt="a">
       </div>
       <div class="details">
         <span class="title"><em>Bal Bharati Public School</em></span>
         <span style="color: brown;"><i>April,2019</i></span>
       </div>
       <p><b>Grade: </b>12<sup>th</sup></p>
       <p><b>Course: </b>Non-medical Science</p>
       <p><b>Percentage: </b>92.3</p>

     </section>
   </div>
   <div class="row row-2">
     <section class="a-7">
       <div class="dot">
         <img src="images/school.png" height="55px" width="55px" style="border-radius: 50%; border: 1px solid black;" alt="a">
       </div>
       <div class="details">
         <span class="title"><em>Bal Bharati Public School</em></span>
         <span style="color: brown;"><i>April,2017</i></span>
       </div>
       <p><b>Grade: </b>10<sup>th</sup></p>
       <p><b>Grade point: </b>10</p>

     </section>
   </div>
  </div>
</section>

 <%- include('footer'); -%>