<%- include('header'); -%>
<section id="main">
    <section id="first">
        <div class="container">  
        <div class="row">
            <div class="col-xs-1 col-lg-12 col-md-12 col-sm-12 col-12" align="center">
            <img src="images/profle.jpg" alt="profile" width="300px" height="300px">
          </div>
          <div class="col-sm-12 col-md-12 col-xs-1 col-12" align="center">
           <p>Sanya Bahl</p> 
          </div>

      </div>   
    </section>
      <section id="second">
        <div class="container">  
        <div class="row">
            <div class="col-xs-1 my-4 col-lg-12  col-md-12 col-sm-12 col-12" align="center">
            <h1>Profile</h1>
          </div>
          <div class="col-xs-1 col-lg-12  col-md-12 col-sm-12 col-12 container"  align="center">
           I am a full stack web developer and a competitive programmer
          </div>
          <div class="col-xs-1 col-lg-12 my-2 col-md-12 col-sm-12 col-12" style="line-height: 4px;" align="center">
             <div class="container">
                <hr>
              </div>
           </div>
           </div>
    
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-6 my-2 col-md-6 col-sm-12 my-2 col-12">
              <div class="container a-1"  style="width: 350px; text-align: left;">
               <h3>About</h3>
               I am an undergraduate student who is very fond of Competitive Programming, Web development and Android app development. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.
              </div>
            </div>
            <div class="col-lg-6 my-2 col-md-6 col-sm-12 my-2 col-12">
                <div class="container a-2" style="width: 350px; text-align: left;">
                    <h3>Personal Details</h3>
                    <b>Name: </b> <br>Sanya Bahl <br>
                    <b>Age: </b> <br>19<br>
                    <b>Location: </b> <br>New Delhi, India <i class="fa fa-map-marker" aria-hidden="true"></i><br>
                </div>   
            </div>
              </div>
    </section>
  </section>
    
    <%- include('footer'); -%>