<%- include('header'); -%>
<section class="project">
    <div class="container-fluid" style="padding: 50px;">
        <div class="row my-5"  >
            <div class="col col-lg-6 col-sm-12 col-12"  >
                <div class="container1 a-1" style="width:auto; height:250px; border:1px solid black">
                    <img src="/images/railway reservation.png" alt="Avatar"  width="100%" height="250px" style="position: absolute; left: 0px;">
                    <div class="overlay1" align="center">
                      <div class="text1"><h1>Aug,2021 - Present</h1></div>                
                    </div>
                  </div>
            </div>
            <div class="col col-lg-6 col-sm-12 col-12 my-3"  >
                <div class="desp a-2" style="box-shadow: 0px 5px 5px 0px black; padding: 4px;">‘Indian Rails’ is a railway ticket reservation website. The main inspiration behind this project was to clone a part of IRCTC. 
                    <br>
                <h6>Features: </h6><ul>
                    <li>Booking tickets</li>
                    <li>Checking PNR status</li>
                    <li>Checking the currently active trains</li>
                    <li>Cancelling a ticket</li>
                    <li><a href="https://github.com/Sanya-Bahl/Railway-ticket-reservation">Github repository</a></li>
                </ul>
            </div>
            </div>
            
        </div>
        <div class="row my-5">
            <div class="col col-lg-6 col-sm-12 col-12" >
                <div class="container2 a-1" style="width:auto; height:250px; border:1px solid black">
                    <img src="/images/website1.png" alt="Avatar" width="100%" height="250px" style="position: absolute; left: 0px;">
                    <div class="overlay" align="center">
                      <div class="text"><h1>July,2021 - Aug,2021</h1> </div>                
                    </div>
                  </div>
            </div>
            <div class="col col-lg-6 col-sm-12 col-12 my-3"  >
                <div class="descp a-2" style="box-shadow: 0px 5px 5px 0px black; padding: 4px;">Cookit is a food recipe blog built using EJS template engine. It is built using NodeJs and ExpressJs in the back-end.<br>
                <h6>Features: </h6><ul>
                    <li>Has a user authentication system</li>
                    <li>Allows user to search for recipes of different cuisines and further allows user to choose the dish-type (like main course, dessert, etc.)(Using spoonacular API)</li>
                    <li>Dependencies like nodemailer allows user to connect to us using emails.</li>
                    <li><a href="https://github.com/Sanya-Bahl/Cookit">Github repository</a></li>
                </ul></div>
            </div>
        </div>
      
    </div>
</section>




<%- include('footer'); -%>