<%- include('header'); -%>
<section class="skills">
    <div class="container">
      <h1 class="margin margin-1">Web development</h1>
        <div class="row">
            <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/html.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>HTML</h1>
                  <div class="circlechart" data-percentage="60">
                  </div>
                </div>
                  
              
              </div>
              </div>
            <div class="col col-lg-4 wdcol col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/css.jpg" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>CSS</h1>
                  <div class="circlechart" data-percentage="60">
                  </div>
                </div>
                 
              </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/js.jpg" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>JavaScript</h1>
                  <div class="circlechart" data-percentage="50">
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/jq.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="JQuery" align="center">
                  <h1>JQuery</h1>
                  <div class="circlechart" data-percentage="60">
                  </div>
                </div>
              </div>
            
            </div>
            <div class="col col-lg-4 wdcol col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/nodejs.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>NodeJs</h1>
                  <div class="circlechart" data-percentage="55">
                  </div>
                </div>
              </div>
            </div>
             <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/e.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>ExpressJs</h1>
                  <div class="circlechart" data-percentage="60">
                  </div>
                </div>
              </div>
              </div> 
          </div>
          <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
            <div class="container wdchild">
              <div class="image">
                <img src="images/react.jpg" alt="html logo"  height="85px" width="85px">
              </div>
              <div class="container skill" align="center">
                <h1>ReactJs</h1>
                <div class="circlechart" data-percentage="20">
                </div>
              </div>
            </div>
        </div>
          <h1 class="margin margin-2">Database</h1>
          <div class="row">
            <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/sql.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>MySQL</h1>
                  <div class="circlechart" data-percentage="60">
                  </div>
                </div>
              </div>
           
            </div>
            <div class="col col-lg-4 wdcol col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/mongodb.jpg" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>MongoDB</h1>
                  <div class="circlechart" data-percentage="70">
                  </div>
                </div>
            </div>
          </div>
          <h1 class="margin margin-3">Scripting</h1>
          <div class="row">
            <div class="col col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/c++.jpg" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>C++</h1>
                  <div class="circlechart" data-percentage="70">
                  </div>
                </div>
              </div>
           
            </div>
            <div class="col col-lg-4 wdcol col-lg-4 col-md-6 col-sm-12 col-12 wd">
              <div class="container wdchild">
                <div class="image">
                  <img src="images/c.png" alt="html logo"  height="85px" width="85px">
                </div>
                <div class="container skill" align="center">
                  <h1>C</h1>
                  <div class="circlechart" data-percentage="70">
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</section>


<%- include('footer'); -%>